LISTS TASKS

In [1]:
#1
lst = [1,2,4,5,2,4,3]
value = 4
lst.count(value)

2

In [2]:
#2
sum(lst)

21

In [3]:
#3
max(lst)

5

In [4]:
#4
min(lst)

1

In [5]:
#5
element = 5
element in lst

True

In [6]:
#6
if (lst):
  print(lst[0])
else:
  print("List is empty")

1

In [7]:
#7
if (lst):
  print(lst[-1])
else:
  print("List is empty")

3

In [8]:
#8
sliced_list = lst[:3]

In [9]:
#9
reversed_list = lst.reverse()

In [10]:
#10
sorted_list = lst.sort()

In [11]:
#11
unique_list = list(set(lst))

In [12]:
#12
index = 3
lst.insert(index, element)

In [13]:
#13
lst.index(element)

3

In [14]:
#14
lst==[]

False

In [15]:
#15
num_of_even =0
for num in lst:
    if(num%2==0):
        num_of_even+=1
num_of_even

4

In [16]:
#16
num_of_odd = len(lst)-num_of_even

In [17]:
#17
list2 = [2,6,3,4,6,9,1,5]
new_list = lst.extend(list2)
new_list

In [18]:
#18
sub_list = [2,4,5]
sub_list in lst

False

In [19]:
#19
another_element = 7
for i in range(len(lst)):
    if(lst[i]==element):
        lst[i]=another_element

In [20]:
#20
unique_list.remove(max(unique_list))
second_largest = max(unique_list)

In [21]:
#21
unique_list.remove(min(unique_list))
second_smallest = min(unique_list)

In [22]:
#22
even_numbers = lst
for num in even_numbers:
    if(num%2==1):
        even_numbers.remove(num)

In [23]:
#23
odd_numbers = lst
for num in even_numbers:
    odd_numbers.remove(num)

In [24]:
#24
list_length = len(lst)

In [25]:
#25
list_copy = lst.copy()

In [26]:
#26
if(len(lst)%2==1):
    print(lst[int((len(lst)+1)/2)])
else:
    print(lst[int(len(lst)/2)]," ", lst[int(len(lst)/2+1)])

6

In [27]:
#27
start = 2
end = 5
max_of_sublist = max(lst[start:end+1])

In [28]:
#28
min_of_sublist = min(lst[start:end+1])

In [29]:
#29
lst.remove(lst[index])
lst

[4, 2, 4, 1]

In [30]:
#30
lst==lst.sort()

False

In [31]:
#31
number = 2
repeated_list = []
for num in lst:
    for i in range(number):
        repeated_list.append(num)

In [32]:
#32
merged_list = lst
merged_list.extend(sorted(list2))

In [33]:
#33
for j in range(len(lst)):
    if(lst[j]==element):
        print(j)

8

In [34]:
#34
rotated_list = [lst[-1]]
for k in range(len(lst)-1):
    rotated_list.append(lst[k])
rotated_list

[9, 1, 2, 4, 4, 1, 2, 3, 4, 5, 6, 6]

In [35]:
#35
range_list = []
for num in range(start,end+1):
    range_list.append(num)
range_list

[2, 3, 4, 5]

In [36]:
#36
sum_of_positive=0
for num in lst:
    if(num>0):
        sum_of_positive+=num
sum_of_positive

47

In [37]:
#37
sum_of_negative=0
for num in lst:
    if(num<0):
        sum_of_negative+=num
sum_of_negative

0

In [38]:
#38
lst == lst.reverse()

False

In [39]:
#39
sublist1 = lst[:number]
sublist2 = lst[number:]

In [40]:
#40
unique_list_inorder = []
uniq = list(set(lst))
for a in uniq:
    if(lst.count(a)==1):
        unique_list_inorder.append(a)
unique_list_inorder

[3, 5, 9]

TUPLE TASKS

In [41]:
#1
tple = (3,2,5,6,4,3,2,1,6,7,8)
t_element = 6
tple.count(t_element)

2

In [42]:
#2
max_element = max(tple)

In [43]:
#3
min_element = min(tple)

In [44]:
#4
t_element in tple

True

In [45]:
#5
if(tple!=()):
    print(tple[0])
else:
    print("empty")

3

In [46]:
#6
if(tple!=()):
    print(tple[-1])
else:
    print("empty")

8

In [47]:
#7
tuple_length = len(tple)

In [48]:
#8
slice_tuple = tple[:3]

In [49]:
#9
tple2 = (6,7,7,2,3,4,1,6)
new_tuple = tple+tple2

In [50]:
#10
tple != ()

True

In [51]:
#11
for i in range(len(tple)):
    if(tple[i]==t_element):
        print(i)

3
8

In [52]:
#12
tuple_to_list = list(set(tple))
tuple_to_list.sort()
print(tuple_to_list[-2])

7

In [53]:
#13
print(sorted(list(set(tple)))[1])

2

In [54]:
#14
single_tuple = (t_element)

In [55]:
#15
list_to_tuple = tuple(lst)

In [56]:
#16
tple==tuple(sorted(list(set(tple))))

False

In [57]:
#17
max(list(tple)[start:end+1])

6

In [58]:
#18
min(list(tple)[start:end+1])

3

In [59]:
#19
remove_tuple = list(tple)
remove_tuple.remove(t_element)
remove_tuple=tuple(remove_tuple)

In [60]:
#20
subtuple1 = tuple(list(tple)[:index])
subtuple2 = tuple(list(tple)[index:])

In [61]:
#21
repeated_tuple = []
number=2
for num in tple:
    for i in range(number):
        repeated_tuple.append(num)
repeated_tuple = tuple(repeated_tuple)

In [62]:
#22
range_tuple = []
number2 = 10
for i in range(number2):
    range_tuple.append(i+1)
range_tuple = tuple(range_tuple)

In [63]:
#23
reversed_tuple = reversed(list(tple))
reversed_tuple = tuple(reversed_tuple)

In [64]:
#24
tple==reversed_tuple

False

In [65]:
#25
unique_tuple = list(tple)
for num in unique_tuple:
    if unique_tuple.count(num)>1:
        unique_tuple.remove(num)
unique_tuple = tuple(unique_tuple)

SET TASKS

In [66]:
#1
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [67]:
#2
set1&set2

{4, 5, 6}

In [68]:
#3
set1-set2

{1, 2, 3}

In [69]:
#4
set2 in set1

False

In [70]:
#5
element = 8
element in set1

False

In [71]:
#6
len(set1)

6

In [72]:
#7
list_set = [1,2,2,3,4,4,5,5,6]
set(list_set)

{1, 2, 3, 4, 5, 6}

In [73]:
#8
if(element in set1):
    set1.remove(element)

In [74]:
#9
set3 = {4,1,2,7,8,0,5,7,2,1,5}
empty_set = set3.clear()

In [75]:
#10
set1 != {}

True

In [76]:
#11
(set1|set2)-(set1&set2)

{1, 2, 3, 7, 8, 9}

In [77]:
#12
set1.add(element)

In [78]:
#13
set1.pop()

1

In [79]:
#14
max(set1)

8

In [80]:
#15
min(set1)

2

In [81]:
#16
even_set = list(set1)
for num in even_set:
    if(num%2==1):
        even_set.remove(num)
even_set = set(even_set)

In [82]:
#17
odd_set = set1-even_set

In [83]:
#18
range_set = []
for k in range(10):
    range_set.append(k+1)
range_set = set(range_set)

In [84]:
#19
set1^set2

{2, 3, 7, 9}

In [85]:
#20
set1&set2=={}

False

In [86]:
#21
list_to_set = [1,1,2,2,3,4,5]
list(set(list_to_set))

[1, 2, 3, 4, 5]

In [87]:
#22
len(set(list_to_set))

5

In [88]:
#23
import random
random_set = []
while(len(set(random_set))<6):
    rand = random.randint(1,10)
    random_set.append(rand)
set(random_set)

{2, 4, 5, 6, 8, 10}

DICTIONARY TASKS

In [174]:
#1
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer",
    "hobby": "Reading",
    "language": "Python"
}
my_dict["age"]

30

In [175]:
#2
key = "city"
key in my_dict

True

In [176]:
#3
len(my_dict.keys())

6

In [177]:
#4
keys = my_dict.keys()

In [178]:
#5
values = my_dict.values()

In [179]:
#6
my_dict2 = {
    "favorite_color": "Blue",
    "pet": "Cat",
    "favorite_food": "Pizza"
}
merged_dict = my_dict
merged_dict.update(my_dict2)
merged_dict

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'occupation': 'Engineer',
 'hobby': 'Reading',
 'language': 'Python',
 'favorite_color': 'Blue',
 'pet': 'Cat',
 'favorite_food': 'Pizza'}

In [180]:
#7
my_dict.pop(key)
my_dict

{'name': 'Alice',
 'age': 30,
 'occupation': 'Engineer',
 'hobby': 'Reading',
 'language': 'Python',
 'favorite_color': 'Blue',
 'pet': 'Cat',
 'favorite_food': 'Pizza'}

In [181]:
#8
my_dict2.clear()

In [182]:
#9
my_dict2 != {}

False

In [183]:
#10
if key in my_dict:
    key_value = {key: my_dict[key]}
else:
    print("Key does not exist")

Key does not exist

In [184]:
#11
new_key = "age"
new_value = "31"
my_dict[new_key]= new_value
my_dict

{'name': 'Alice',
 'age': '31',
 'occupation': 'Engineer',
 'hobby': 'Reading',
 'language': 'Python',
 'favorite_color': 'Blue',
 'pet': 'Cat',
 'favorite_food': 'Pizza'}

In [188]:
#12
my_dict_values = list(my_dict.values())
my_dict_values.count(new_value)

1

In [ ]:
#13