In [45]:
import pandas as pd
import sqlite3
import os
import openpyxl
os.chdir(r"C:\Users\User\Documents\GitHub\python_homework\lesson-17\homework")

with sqlite3.connect("../data/chinook.db") as connection:
    df_customers = pd.read_sql(
        "SELECT * FROM customers",
        con=connection
    )
    df_invoices = pd.read_sql(
        "SELECT * FROM invoices",
        con=connection
    )

## inner join ##

In [34]:
inner_join = pd.merge(df_customers, df_invoices, on="CustomerId", how="inner")
total_invoices = inner_join.groupby(["CustomerId", "FirstName", "LastName"]).size().reset_index(name="TotalInvoices")
total_invoices.head()

   CustomerId  FirstName     LastName  TotalInvoices
0           1       Luís    Gonçalves              7
1           2     Leonie       Köhler              7
2           3   François     Tremblay              7
3           4      Bjørn       Hansen              7
4           5  František  Wichterlová              7

## outer join ##

In [44]:
df_movie = pd.read_csv("../data/movie.csv")
df_movie_1 = df_movie[["director_name", "color"]]
df_movie_2 = df_movie[["director_name", "num_critic_for_reviews"]]
left_join = pd.merge(df_movie_1, df_movie_2, on="director_name", how="left")
outer_join = pd.merge(df_movie_1, df_movie_2, on="director_name", how="outer")
print(f"Left join rows: {left_join.shape[0]}")
print(f"Outer join rows: {outer_join.shape[0]}")

Left join rows: 30300
Outer join rows: 30300

## grouped aggregations on titanic ##

In [56]:
df_titanic = pd.read_excel("../data/titanic.xlsx")
df_titanic_info = df_titanic.groupby("Pclass").agg({
    "Age":"mean",
    "Fare":"sum",
    "PassengerId":"count"
}).reset_index()
df_titanic_info.columns = ["Pclass", "Age", "Fare", "TotalPassengers"]
df_titanic_info

   Pclass        Age        Fare  TotalPassengers
0       1  38.233441  18177.4125              216
1       2  29.877630   3801.8417              184
2       3  25.140620   6714.6951              491

## multi-level grouping on movie data ##

In [64]:
df_multi_level_grouping = df_movie.groupby(["color", "director_name"]).agg(
    {
        "num_critic_for_reviews":"sum",
        "duration":"mean"
    }
).reset_index()
df_multi_level_grouping

                color       director_name  num_critic_for_reviews  duration
0     Black and White      Akira Kurosawa                   153.0     202.0
1     Black and White      Aleksey German                   121.0     177.0
2     Black and White        Alex Garland                   489.0     108.0
3     Black and White     Alexander Payne                   433.0     115.0
4     Black and White    Alfred Hitchcock                   434.0     119.0
...               ...                 ...                     ...       ...
2485            Color       Zoran Lisinac                    17.0     108.0
2486            Color  Álex de la Iglesia                    71.0     104.0
2487            Color    Émile Gaudreault                    67.0      92.0
2488            Color        Éric Tessier                     9.0      99.0
2489            Color       Étienne Faure                     9.0      98.0

[2490 rows x 4 columns]

## nested grouping on flights ##