LISTS TASKS

In [110]:
#1
lst = [1,2,4,5,2,4,3]
value = 4
lst.count(value)

2

In [111]:
#2
sum(lst)

21

In [112]:
#3
max(lst)

5

In [113]:
#4
min(lst)

1

In [114]:
#5
element = 5
element in lst

True

In [115]:
#6
if (lst):
  print(lst[0])
else:
  print("List is empty")

1

In [116]:
#7
if (lst):
  print(lst[-1])
else:
  print("List is empty")

3

In [117]:
#8
sliced_list = lst[:3]

In [118]:
#9
reversed_list = lst.reverse()

In [119]:
#10
sorted_list = lst.sort()

In [120]:
#11
unique_list = list(set(lst))

In [121]:
#12
index = 3
lst.insert(index, element)

In [122]:
#13
lst.index(element)

3

In [123]:
#14
lst==[]

False

In [124]:
#15
num_of_even =0
for num in lst:
    if(num%2==0):
        num_of_even+=1
num_of_even

4

In [125]:
#16
num_of_odd = len(lst)-num_of_even

In [126]:
#17
list2 = [2,6,3,4,6,9,1,5]
new_list = lst.extend(list2)
new_list

In [127]:
#18
sub_list = [2,4,5]
sub_list in lst

False

In [128]:
#19
another_element = 7
for i in range(len(lst)):
    if(lst[i]==element):
        lst[i]=another_element

In [129]:
#20
unique_list.remove(max(unique_list))
second_largest = max(unique_list)

In [130]:
#21
unique_list.remove(min(unique_list))
second_smallest = min(unique_list)

In [131]:
#22
even_numbers = lst
for num in even_numbers:
    if(num%2==1):
        even_numbers.remove(num)

In [132]:
#23
odd_numbers = lst
for num in even_numbers:
    odd_numbers.remove(num)

In [133]:
#24
list_length = len(lst)

In [134]:
#25
list_copy = lst.copy()

In [135]:
#26
if(len(lst)%2==1):
    print(lst[int((len(lst)+1)/2)])
else:
    print(lst[int(len(lst)/2)]," ", lst[int(len(lst)/2+1)])

6

In [136]:
#27
start = 2
end = 5
max_of_sublist = max(lst[start:end+1])

In [137]:
#28
min_of_sublist = min(lst[start:end+1])

In [138]:
#29
lst.remove(lst[index])
lst

[4, 2, 4, 1]

In [139]:
#30
lst==lst.sort()

False

In [140]:
#31
number = 2
repeated_list = []
for num in lst:
    for i in range(number):
        repeated_list.append(num)

In [141]:
#32
merged_list = lst
merged_list.extend(sorted(list2))

In [142]:
#33
for j in range(len(lst)):
    if(lst[j]==element):
        print(j)

8

In [143]:
#34
rotated_list = [lst[-1]]
for k in range(len(lst)-1):
    rotated_list.append(lst[k])
rotated_list

[9, 1, 2, 4, 4, 1, 2, 3, 4, 5, 6, 6]

In [144]:
#35
range_list = []
for num in range(start,end+1):
    range_list.append(num)
range_list

[2, 3, 4, 5]

In [145]:
#36
sum_of_positive=0
for num in lst:
    if(num>0):
        sum_of_positive+=num
sum_of_positive

47

In [146]:
#37
sum_of_negative=0
for num in lst:
    if(num<0):
        sum_of_negative+=num
sum_of_negative

0

In [147]:
#38
lst == lst.reverse()

False

In [148]:
#39
sublist1 = lst[:number]
sublist2 = lst[number:]

In [149]:
#40
unique_list_inorder = []
uniq = list(set(lst))
for a in uniq:
    if(lst.count(a)==1):
        unique_list_inorder.append(a)
unique_list_inorder

[3, 5, 9]

TUPLE TASKS

In [150]:
#1
tple = (3,2,5,6,4,3,2,1,6,7,8)
t_element = 6
tple.count(t_element)

2

In [151]:
#2
max_element = max(tple)

In [152]:
#3
min_element = min(tple)

In [153]:
#4
t_element in tple

True

In [154]:
#5
if(tple!=()):
    print(tple[0])
else:
    print("empty")

3

In [155]:
#6
if(tple!=()):
    print(tple[-1])
else:
    print("empty")

8

In [156]:
#7
tuple_length = len(tple)

In [157]:
#8
slice_tuple = tple[:3]

In [158]:
#9
tple2 = (6,7,7,2,3,4,1,6)
new_tuple = tple+tple2

In [159]:
#10
tple != ()

True

In [160]:
#11
for i in range(len(tple)):
    if(tple[i]==t_element):
        print(i)

3
8

In [161]:
#12
tuple_to_list = list(set(tple))
tuple_to_list.sort()
print(tuple_to_list[-2])

7

In [162]:
#13
print(sorted(list(set(tple)))[1])

2

In [163]:
#14
single_tuple = (t_element)

In [164]:
#15
list_to_tuple = tuple(lst)

In [165]:
#16
tple==tuple(sorted(list(set(tple))))

False

In [166]:
#17
max(list(tple)[start:end+1])

6

In [167]:
#18
min(list(tple)[start:end+1])

3

In [168]:
#19
remove_tuple = list(tple)
remove_tuple.remove(t_element)
remove_tuple=tuple(remove_tuple)

In [169]:
#20
subtuple1 = tuple(list(tple)[:index])
subtuple2 = tuple(list(tple)[index:])

In [170]:
#21
repeated_tuple = []
number=2
for num in tple:
    for i in range(number):
        repeated_tuple.append(num)
repeated_tuple = tuple(repeated_tuple)

In [171]:
#22
range_tuple = []
number2 = 10
for i in range(number2):
    range_tuple.append(i+1)
range_tuple = tuple(range_tuple)

In [172]:
#23
reversed_tuple = reversed(list(tple))
reversed_tuple = tuple(reversed_tuple)

In [173]:
#24
tple==reversed_tuple

False

In [174]:
#25
unique_tuple = list(tple)
for num in unique_tuple:
    if unique_tuple.count(num)>1:
        unique_tuple.remove(num)
unique_tuple = tuple(unique_tuple)

SET TASKS

In [234]:
#1
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [235]:
#2
set1&set2

{4, 5, 6}

In [236]:
#3
set1-set2

{1, 2, 3}

In [237]:
#4
set2 in set1

False

In [238]:
#5
element = 8
element in set1

False

In [239]:
#6
len(set1)

6

In [240]:
#7
list_set = [1,2,2,3,4,4,5,5,6]
set(list_set)

{1, 2, 3, 4, 5, 6}

In [241]:
#8
if(element in set1):
    set1.remove(element)

In [242]:
#9
set3 = {4,1,2,7,8,0,5,7,2,1,5}
empty_set = set3.clear()

In [243]:
#10
set1 != {}

True

In [244]:
#11
(set1|set2)-(set1&set2)

{1, 2, 3, 7, 8, 9}

In [245]:
#12
set1.add(element)

In [246]:
#13
set1.pop()

1

In [247]:
#14
max(set1)

8

In [248]:
#15
min(set1)

2

In [250]:
#16
even_set = list(set1)
for num in even_set:
    if(num%2==1):
        even_set.remove(num)
even_set = set(even_set)

In [251]:
#17
odd_set = set1-even_set

In [252]:
#18
range_set = []
for k in range(10):
    range_set.append(k+1)
range_set = set(range_set)

In [253]:
#19
set1^set2

{2, 7, 9}

In [255]:
#20
set1&set2=={}

False

In [257]:
#21
list_to_set = [1,1,2,2,3,4,5]
list(set(list_to_set))

[1, 2, 3, 4, 5]

In [258]:
#22
len(set(list_to_set))

5

In [263]:
#23
import random
random_set = []
while(len(set(random_set))<6):
    rand = random.randint(1,10)
    random_set.append(rand)
set(random_set)

{1, 2, 5, 8, 9, 10}

DICTIONARY TASKS

In [264]:
#1
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer",
    "hobby": "Reading",
    "language": "Python"
}
my_dict["age"]

30

In [265]:
#2
key = "city"
key in my_dict

True

In [266]:
#3
len(my_dict.keys())

6

In [267]:
#4
keys = my_dict.keys()

In [268]:
#5
values = my_dict.values()

In [ ]:
#6
my_dict2 = {
    "favorite_color": "Blue",
    "pet": "Cat",
    "favorite_food": "Pizza"
}
merged_dict =